body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
:root{
    --blue-color: #4040ff;
}

  .container {
    display: flex;
    height: 100vh;
  }
  
  .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4040ff;
    background-image: url("../assets/image/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .login-form {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-form input {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: var(--blue-color);
    color: white;
  }

  .login-form btn-voltar {
    padding: 10px;
  }

  .logo-login img{
    width:  3rem;
    height: 2rem;
  }

  .logo-login{
    margin-top: 1rem;
  }

  .register-new-account{
    margin-top: 1rem;
    font-size: smaller;
  }

  .register-new-account a{
    color: #7F7F7F;
    text-decoration: none;
  }